limits/inputData/*
limits/output*
*.DS_*
fits/fitPlotFiles/*
fits/fitPlotFiles_BKP/*
fits/inputData/*
*/tmpdir/*
.wscode*
._*
ftest/ftestOutput/
ftest/inputData/
ftest/**/.o
ftest/*.0
ftest/*.pcm
ftest/*.cxx
ftest/*.o
ftest/bin/
ftest/obj/
ftest/*png
ftest/*pdf
ftest/*root
fits/tmpdir/
ftest/dat/
ftest/lib/
*_BKP
fits/fitPlotFiles2D/
inputData_MuOnia/
inputData_MuonEG/
inputData_MuonEG_FullIso/
inputData_MuonEG_FullIso_uncorr/
ftest/ftestOutput2D/
inputData_MuonEG_*
